extends layout 

block content 
    article
        .column
            h3 Sign In
             form(method="get", action="/login")
             .row
                fieldset.mediumcolumn
                    p Register
                        br
                    label(for="username") Username:
                        input(type="text", name="username").textbox
                    label(for="password") Password:
                        input(type="password", name="Password").textbox
                    a(href='/register') Sign Up
                    a(href='#') Forgot your password?
             .row
                  fieldset.mediumcolumn
                    .row
                        input(type='submit' value='Login').button
                
        br
        br
        block append footer
                include footer.pug
