extends layout 

block content
    article
        .column
            h3 Sign In
            form(method="post", action="/register") // Change method to "post"
                .row
                    fieldset.mediumcolumn
                        p Register
                            br
                        label(for="username") Username:
                            input(type="text", name="username").textbox
                        br
                        label(for="password") Password:
                            input(type="password", name="password").textbox
                        br
                        label(for="forename") Forename:
                            input(type="text", name="forename").textbox
                        br
                        label(for="surname") Surname:
                            input(type="text", name="surname").textbox
                        br
                        label(for="email") Email:
                            input(type="text", name="email").textbox
                        br
                        label(for="phone") Phone:
                            input(type="text", name="phone").textbox
                        br
                        input(type="submit", value="Register").button
                        br
                        input(type="reset", value="Reset Form").button
        block append footer
            include footer.pug
